<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ddwucom.mobile.ma02_20170931">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ddwucom.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SearchInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchMain" />
        </activity>


        <activity android:name=".ReadingMain"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".ReadInputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReadingMain" />
        </activity>
        <activity android:name=".ReadingInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReadingMain" />
        </activity>



        <activity android:name=".WishMain"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".WishInfoActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WishMain"/>
        </activity>
        <activity android:name=".WishInputActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WishMain"/>
        </activity>



        <activity android:name=".RecordMain"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".RecordAddActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecordMain" />
        </activity>
        <activity android:name=".RecordInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecordMain" />
        </activity>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googlePlace_api_key" />
        <activity android:name=".LibLocMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".LibInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LibLocMain" />
        </activity>


        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiver" />

    </application>


</manifest>